/* line 5, ../sass/partials/util/_mixin.sass */
.mcfix:before, .m-share:before, .mcfix:after, .m-share:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/partials/util/_mixin.sass */
.mcfix:after, .m-share:after {
  clear: both;
}

/* line 127, ../sass/partials/util/_mixin.sass */
.is-visible, .js-pjax_container {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 131, ../sass/partials/util/_mixin.sass */
.is-hidden {
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
/* line 61, ../sass/partials/util/_respond.sass */
#guide {
  diplay: none;
  background: url(../images/respond_guide.png) left top no-repeat;
  min-height: 33px;
  width: 100%;
  position: fixed;
  bottom: 50px;
  opacity: 0.9;
}

/* line 1, ../sass/partials/util/_class.sass */
.hide {
  display: none !important;
}

/* line 4, ../sass/partials/util/_class.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 17, ../sass/partials/util/_class.sass */
.bgimage {
  background: no-repeat center/cover;
}

@media only screen and (max-width: 40em) {
  /* line 22, ../sass/partials/util/_class.sass */
  .is-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 26, ../sass/partials/util/_class.sass */
  .is-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 31, ../sass/partials/util/_class.sass */
  .is-narrow {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 35, ../sass/partials/util/_class.sass */
  .is-wide {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 39, ../sass/partials/util/_class.sass */
  .is-small-only {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 43, ../sass/partials/util/_class.sass */
  .is-medium-up {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 47, ../sass/partials/util/_class.sass */
  .is-medium-only {
    display: none !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 47, ../sass/partials/util/_class.sass */
  .is-medium-only {
    display: none !important;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 51, ../sass/partials/util/_class.sass */
  .is-medium-down {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 55, ../sass/partials/util/_class.sass */
  .is-large-only {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 55, ../sass/partials/util/_class.sass */
  .is-large-only {
    display: none !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* line 55, ../sass/partials/util/_class.sass */
  .is-large-only {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 59, ../sass/partials/util/_class.sass */
  .is-large-up {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 59, ../sass/partials/util/_class.sass */
  .is-large-up {
    display: none !important;
  }
}
@media only screen and (min-width: 90.063em) {
  /* line 63, ../sass/partials/util/_class.sass */
  .is-large-down {
    display: none !important;
  }
}
@media only screen and (max-width: 40em) {
  /* line 67, ../sass/partials/util/_class.sass */
  .is-xlarge-up {
    display: none !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 67, ../sass/partials/util/_class.sass */
  .is-xlarge-up {
    display: none !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 67, ../sass/partials/util/_class.sass */
  .is-xlarge-up {
    display: none !important;
  }
}
/* line 1, ../sass/partials/util/_sprite.sass */
i.dummy {
  text-indent: -9999px;
  line-height: 1;
  font-size: 1px;
  overflow: hidden;
  border: none;
  display: inline-block;
  height: 0;
  background-repeat: no-repeat;
}

/* line 47, ../sass/partials/util/_sprite.sass */
i.dummy {
  background-image: url('../images/sprite_base-s5e06d22772.png');
  background-image: url(../images//Users/nkhrhr/Dropbox/MyFiles/Work/ActiveProject/Taxu/Site/taxu2/wp-content/themes/taxu/images/sprite_base-s5e06d22772.png);
  background-position: 0 0;
  padding-top: 120px;
  width: 120px;
}

/* line 1, ../sass/partials/_base.sass */
body {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
  color: #444;
  text-align: center;
}

/* line 10, ../sass/partials/_base.sass */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}

/* line 22, ../sass/partials/_base.sass */
h1 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.8em;
}
/* line 26, ../sass/partials/_base.sass */
h1 a {
  color: #333;
  text-decoration: none;
}
/* line 24, ../../../../../../../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
h1 a:hover {
  color: #444;
}
@media only screen and (min-width: 40.063em) {
  /* line 22, ../sass/partials/_base.sass */
  h1 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 2em;
  }
}

/* line 32, ../sass/partials/_base.sass */
a {
  color: #444;
  text-decoration: underline;
}
/* line 24, ../../../../../../../../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #999;
}

/* line 36, ../sass/partials/_base.sass */
p {
  line-height: 2em;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
}

/* line 41, ../sass/partials/_base.sass */
ul {
  list-style: none;
}

/* line 44, ../sass/partials/_base.sass */
li {
  line-height: 1.7em;
  font-size: 15px;
  font-size: 0.9375rem;
}

/* line 48, ../sass/partials/_base.sass */
#container {
  text-align: left;
}

/* line 54, ../sass/partials/_base.sass */
body {
  margin: 0;
}
/* line 59, ../sass/partials/_base.sass */
body #share {
  text-align: center;
}
/* line 61, ../sass/partials/_base.sass */
body #cover {
  background-image: url(../images/photo.jpg);
  background-image: url(../images/test.png);
  background-size: cover;
  min-height: 500px;
  background-position: center center;
}
/* line 67, ../sass/partials/_base.sass */
body #cover img {
  width: 120px;
  float: right;
  margin: 40px;
}
/* line 71, ../sass/partials/_base.sass */
body h1 {
  background: #fff;
  font-weight: normal;
  font-family: "AxisStd-ExtraLight";
  margin-bottom: 1em;
}
/* line 80, ../sass/partials/_base.sass */
body h2,
body h3 {
  font-family: "AxisStd-Heavy" !important;
  font-weight: normal;
  letter-spacing: 2px;
}
/* line 86, ../sass/partials/_base.sass */
body li,
body p {
  font-family: "AxisStd-ExtraLight" !important;
  line-height: 2.4 !important;
}
/* line 95, ../sass/partials/_base.sass */
body .wp-content {
  margin: 40px 0;
}
/* line 97, ../sass/partials/_base.sass */
body #cta {
  padding: 80px 0;
  text-align: center;
}
/* line 102, ../sass/partials/_base.sass */
body #cta #logo {
  text-align: center;
  color: #999;
  font-size: 9px;
  padding: 80px 0;
}
/* line 107, ../sass/partials/_base.sass */
body #cta #logo img {
  width: 100px;
  margin-bottom: 20px;
}
/* line 110, ../sass/partials/_base.sass */
body #cta h3 {
  font-size: 16px;
  font-weight: bold;
}
/* line 115, ../sass/partials/_base.sass */
body #cta #buttons {
  padding-bottom: 80px;
}
/* line 117, ../sass/partials/_base.sass */
body #cta #buttons a {
  display: inline-block;
  padding: 20px 40px;
  background: #333;
  background: #ef8201;
  background: #01a1dd;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  border-radius: 100px;
  font-family: "AxisStd-Regular" !important;
}
/* line 129, ../sass/partials/_base.sass */
body #cta #share {
  padding: 80px 0;
}
/* line 131, ../sass/partials/_base.sass */
body #cta h3 {
  font-size: 16px;
}
/* line 136, ../sass/partials/_base.sass */
body #cta ul a {
  text-decoration: none;
}
/* line 138, ../sass/partials/_base.sass */
body #cta ul img {
  height: 136px;
  margin-bottom: 6px;
}
/* line 141, ../sass/partials/_base.sass */
body #cta ul p {
  font-size: 13px;
}

/* line 3, ../sass/partials/module/_general.sass */
.m-share > span {
  position: relative;
  display: block;
  float: left;
  line-height: 1em;
  margin-left: 10px;
}
/* line 9, ../sass/partials/module/_general.sass */
.m-share > span:first-child {
  margin-left: 0;
}
/* line 11, ../sass/partials/module/_general.sass */
.m-share .twitter {
  width: 105px;
}

/* line 1, ../sass/partials/module/_pjax.js.sass */
.js-pjax_container {
  display: block;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 1, ../sass/partials/content/_header.sass */
#header {
  height: 0;
}
/* line 3, ../sass/partials/content/_header.sass */
#header .header-content {
  width: 100%;
  position: absolute;
}
/* line 6, ../sass/partials/content/_header.sass */
#header .header-content .header-title {
  margin: 0;
}
/* line 8, ../sass/partials/content/_header.sass */
#header .header-content .header-title a {
  display: block;
}

/* line 2, ../sass/partials/content/_footer.sass */
.footer-nav .footer-main-nav {
  position: fixed;
  z-index: 991;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 32px;
  bottom: 2rem;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.4);
  background: #fff;
  visibility: hidden;
  overflow: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  -o-transition: -o-transform 0.3s, visibility 0s 0.3s;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s;
  -webkit-transition-delay: 0s, 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
/* line 19, ../sass/partials/content/_footer.sass */
.footer-nav .footer-main-nav.has-transitions {
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  -o-transition: -o-transform 0.3s, visibility 0s 0.3s;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s;
  -webkit-transition-delay: 0s, 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
/* line 21, ../sass/partials/content/_footer.sass */
.footer-nav .footer-main-nav.is-visible {
  visibility: visible;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform, 0.3s;
  -o-transition: -o-transform, 0.3s;
  -webkit-transition: -webkit-transform, 0.3s;
  transition: transform, 0.3s;
}
/* line 26, ../sass/partials/content/_footer.sass */
.footer-nav .footer-main-nav.is-visible li:nth-child(1) {
  -webkit-animation: cd-slide-in 0.2s 1s 0.2s ease none;
  -moz-animation: cd-slide-in 0.2s 1s 0.2s ease none;
  -ms-animation: cd-slide-in 0.2s 1s 0.2s ease none;
  -o-animation: cd-slide-in 0.2s 1s 0.2s ease none;
  animation: cd-slide-in 0.2s 1s 0.2s ease none;
}
/* line 28, ../sass/partials/content/_footer.sass */
.footer-nav .footer-main-nav.is-visible li:nth-child(2) {
  -webkit-animation: cd-slide-in 0.3s 1s 0.2s ease none;
  -moz-animation: cd-slide-in 0.3s 1s 0.2s ease none;
  -ms-animation: cd-slide-in 0.3s 1s 0.2s ease none;
  -o-animation: cd-slide-in 0.3s 1s 0.2s ease none;
  animation: cd-slide-in 0.3s 1s 0.2s ease none;
}
/* line 30, ../sass/partials/content/_footer.sass */
.footer-nav .footer-main-nav.is-visible li:nth-child(3) {
  -webkit-animation: cd-slide-in 0.4s 1s 0.2s ease none;
  -moz-animation: cd-slide-in 0.4s 1s 0.2s ease none;
  -ms-animation: cd-slide-in 0.4s 1s 0.2s ease none;
  -o-animation: cd-slide-in 0.4s 1s 0.2s ease none;
  animation: cd-slide-in 0.4s 1s 0.2s ease none;
}
/* line 32, ../sass/partials/content/_footer.sass */
.footer-nav .footer-main-nav.is-visible li:nth-child(4) {
  -webkit-animation: cd-slide-in 0.5s 1s 0.2s ease none;
  -moz-animation: cd-slide-in 0.5s 1s 0.2s ease none;
  -ms-animation: cd-slide-in 0.5s 1s 0.2s ease none;
  -o-animation: cd-slide-in 0.5s 1s 0.2s ease none;
  animation: cd-slide-in 0.5s 1s 0.2s ease none;
}
/* line 34, ../sass/partials/content/_footer.sass */
.footer-nav .footer-main-nav.is-visible li:nth-child(5) {
  -webkit-animation: cd-slide-in 0.6s 1s 0.2s ease none;
  -moz-animation: cd-slide-in 0.6s 1s 0.2s ease none;
  -ms-animation: cd-slide-in 0.6s 1s 0.2s ease none;
  -o-animation: cd-slide-in 0.6s 1s 0.2s ease none;
  animation: cd-slide-in 0.6s 1s 0.2s ease none;
}
/* line 36, ../sass/partials/content/_footer.sass */
.footer-nav .footer-main-nav.is-hidden {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 39, ../sass/partials/content/_footer.sass */
.footer-nav ul {
  margin: 0;
}
/* line 41, ../sass/partials/content/_footer.sass */
.footer-nav li {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 43, ../sass/partials/content/_footer.sass */
.footer-nav li a {
  display: block;
  padding: 1.4em;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #111;
}

/* line 59, ../sass/partials/content/_footer.sass */
.footer-nav-trigger {
  position: fixed;
  right: 5%;
  bottom: 32px;
  bottom: 2rem;
  width: 44px;
  height: 44px;
  background: #fff;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.4);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 992;
  visibility: hidden;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  -o-transition: -o-transform 0.3s, visibility 0s 0.3s;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s;
  -webkit-transition-delay: 0s, 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
/* line 78, ../sass/partials/content/_footer.sass */
.is-fixed .footer-nav-trigger {
  visibility: visible;
  -moz-transition: all, 0s;
  -o-transition: all, 0s;
  -webkit-transition: all, 0s;
  transition: all, 0s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: cd-bounce-in 0.3s 0s linear none;
  -moz-animation: cd-bounce-in 0.3s 0s linear none;
  -ms-animation: cd-bounce-in 0.3s 0s linear none;
  -o-animation: cd-bounce-in 0.3s 0s linear none;
  animation: cd-bounce-in 0.3s 0s linear none;
}
/* line 84, ../sass/partials/content/_footer.sass */
.footer-nav-trigger span {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #999;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -moz-transition: background, 0.3s;
  -o-transition: background, 0.3s;
  -webkit-transition: background, 0.3s;
  transition: background, 0.3s;
}
/* line 95, ../sass/partials/content/_footer.sass */
.footer-nav-trigger span::before, .footer-nav-trigger span::after {
  content: "";
  position: absolute;
  left: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform, 0.3s;
  -o-transition: -o-transform, 0.3s;
  -webkit-transition: -webkit-transform, 0.3s;
  transition: transform, 0.3s;
}
/* line 105, ../sass/partials/content/_footer.sass */
.footer-nav-trigger span::before {
  top: -6px;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
/* line 108, ../sass/partials/content/_footer.sass */
.footer-nav-trigger span::after {
  bottom: -6px;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
/* line 111, ../sass/partials/content/_footer.sass */
.footer-nav-trigger.menu-is-open {
  box-shadow: none;
}
/* line 113, ../sass/partials/content/_footer.sass */
.footer-nav-trigger.menu-is-open span {
  background: rgba(232, 74, 100, 0);
}
/* line 115, ../sass/partials/content/_footer.sass */
.footer-nav-trigger.menu-is-open span::before, .footer-nav-trigger.menu-is-open span::after {
  background: #999;
}
/* line 117, ../sass/partials/content/_footer.sass */
.footer-nav-trigger.menu-is-open span::before {
  top: 0;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 120, ../sass/partials/content/_footer.sass */
.footer-nav-trigger.menu-is-open span::after {
  bottom: 0;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

@-webkit-keyframes cd-slide-in {
  0% {
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes cd-slide-in {
  0% {
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-slide-in {
  0% {
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-in {
  0% {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  60% {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  60% {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-ms-keyframes cd-bounce-in {
  0% {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  60% {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes cd-bounce-in {
  0% {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  60% {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
